<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="labs.dadm.l0402_settings">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--Main activity-->
        <activity android:name="labs.dadm.l0402_settings.activities.MainActivity">

            <!-- This is the entry point to the application -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Activity to configure the application-->
        <!--Enable up navigation-->
        <activity
            android:name="labs.dadm.l0402_settings.activities.SettingsActivity"
            android:label="@string/app_name"
            android:parentActivityName="labs.dadm.l0402_settings.activities.MainActivity">

            <!-- Enable up navigation for backwards compatibility -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="labs.dadm.l0402_settings.activities.MainActivity" />
        </activity>
    </application>

</manifest>